* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	height: 580px;
}

#controlNameBox li {
	margin-top: 3px;
}

#controlNameBox li:hover {
	background: #ccc;
}

.CNicons {
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: top;
}

.controlName {
	display: inline-block;
	width: 140px;
	height: 24px;
	font: 13px bold Î¢ÈíÑÅºÚ;
	color: #000;
	line-height: 24px;
	margin-left: 8px;
}

.box {
	padding: 8px;
	outline: rgb(32, 158, 145) dotted 8px;
	border: 0px solid rgb(255, 255, 255);
	border-image: none;
	left: 109px;
	top: 185px;
	width: 266px;
	height: 266px;
	position: absolute;
	z-index: 800;
	outline-offset: -8px;
}