* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	height: 580px;
}

#controlNameBox li {
	margin-top: 3px;
}

#controlNameBox li:hover {
	background: #ffff00;
}

#controlNameBox li img {
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: top;
}

#controlNameBox li a  {
	display: inline-block;
	width: 80px;
	height: 24px;
	font: 13px bold Î¢ÈíÑÅºÚ;
	color: #000;
	line-height: 24px;
	margin-left: 8px;
}

.dev {
	outline: rgb(32, 158, 145) dotted 4px;
	border:1px solid #ccc;
	padding:2px;
}