.page-header {
	padding-bottom: 1px;
	margin: 20px 5px 1px;
	border-bottom: 1px solid #eee;
}

.input-comm span {
	width: 80px;
}

.modal-body {
	position: relative;
	padding: 10px;
}

.middle {
	margin: 5px 1px 1px;
}

.warning {
	color: red;
}

.error {
	color: red;
}

.modal-table {
    padding: 1px 10px 1px;
}
/*百度地图索引层建议*/
.tangram-suggestion-main {
	z-index: 1060;
}
#baiduMap {
	width: 100%;
	height: 400px;
	overflow: hidden;
	margin: 0;
	font-family: "微软雅黑";
}