<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.3.xsd 
        http://www.springframework.org/schema/tx      http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/mvc    http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd">
	<!-- scan the package and the sub package -->

	<!-- don't handle the static resource -->
	<mvc:default-servlet-handler />
	<mvc:annotation-driven />
	<mvc:resources location="/assets/" mapping="/assets/**/*"/> 
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/views/*.html" />			
			<mvc:exclude-mapping path="/static/*.svg" />
			<mvc:exclude-mapping path="/static/css/*.svg" />
			<mvc:exclude-mapping path="/assets/*/*.css" />
			<mvc:exclude-mapping path="/assets/*/*.js" />
			<mvc:exclude-mapping path="/assets/*/css/*.css" />
			<mvc:exclude-mapping path="/assets/*/fonts/*.woff" />
			<mvc:exclude-mapping path="/assets/**/js/*.js" />
			<mvc:exclude-mapping path="/assets/**/css/*.map" />
			<mvc:exclude-mapping path="/assets/*/*.*.*.*" />
			<bean class="com.cntek.iot.pow.util.CommonInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 引入配置文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath:config/jdbc.properties</value>
				<value>classpath:config/cfg.properties</value>
				<value>classpath:config/log.properties</value>
			</list>
		</property>
	</bean>
	
	<task:annotation-driven /> <!-- 定时器开关 -->

	<context:component-scan base-package="com.cntek.iot" />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		id="internalResourceViewResolver">
		<property name="prefix" value="/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>